PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/talentkick?schema=public"
JWT_SECRET="your-super-secret-key"
# Para las credenciales de Firebase, crea un archivo 'firebase-service-account.json' en la raíz del proyecto
# con el contenido de tu cuenta de servicio y luego especifica su ruta aquí:
GOOGLE_APPLICATION_CREDENTIALS="./firebase-service-account.json"

# Configuración de AWS S3 / Minio
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_REGION="your_aws_region" # e.g., us-east-1
S3_BUCKET_NAME="your-s3-bucket-name"

# Configuración específica para Minio local
MINIO_ENDPOINT="http://localhost:9000"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="admin123"
MINIO_S3_FORCE_PATH_STYLE=true
